#icon{
    font-size: 33px;
    justify-content: center;
    display: flex;
    color:blue
}
.card-title{
    font-size: 33px;
    justify-content: center;
    display: flex;
    color:black;
}

.card-text{
    justify-content: center;
    display: flex;
}

a{
    justify-content: center;
    display:flex;
    text-decoration: underline;
}
